/*
Delphix DCT API

Delphix DCT API

API version: 3.25.0
Contact: support@delphix.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package delphix_dct_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PaaSDatabasesAPIService PaaSDatabasesAPI service
type PaaSDatabasesAPIService service

type ApiCreatePaasDatabaseComplianceConnectorRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
	createPaaSDatabaseConnectorParameters *CreatePaaSDatabaseConnectorParameters
}

func (r ApiCreatePaasDatabaseComplianceConnectorRequest) CreatePaaSDatabaseConnectorParameters(createPaaSDatabaseConnectorParameters CreatePaaSDatabaseConnectorParameters) ApiCreatePaasDatabaseComplianceConnectorRequest {
	r.createPaaSDatabaseConnectorParameters = &createPaaSDatabaseConnectorParameters
	return r
}

func (r ApiCreatePaasDatabaseComplianceConnectorRequest) Execute() (*CreatePaaSDatabaseConnectorResponse, *http.Response, error) {
	return r.ApiService.CreatePaasDatabaseComplianceConnectorExecute(r)
}

/*
CreatePaasDatabaseComplianceConnector Create a new compliance connector for the PaaS Database.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiCreatePaasDatabaseComplianceConnectorRequest
*/
func (a *PaaSDatabasesAPIService) CreatePaasDatabaseComplianceConnector(ctx context.Context, paaSDatabaseId string) ApiCreatePaasDatabaseComplianceConnectorRequest {
	return ApiCreatePaasDatabaseComplianceConnectorRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return CreatePaaSDatabaseConnectorResponse
func (a *PaaSDatabasesAPIService) CreatePaasDatabaseComplianceConnectorExecute(r ApiCreatePaasDatabaseComplianceConnectorRequest) (*CreatePaaSDatabaseConnectorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePaaSDatabaseConnectorResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.CreatePaasDatabaseComplianceConnector")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/create-compliance-connector"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createPaaSDatabaseConnectorParameters
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePaasDatabaseTagsRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
	tagsRequest *TagsRequest
}

// Tags information for PaaS Database.
func (r ApiCreatePaasDatabaseTagsRequest) TagsRequest(tagsRequest TagsRequest) ApiCreatePaasDatabaseTagsRequest {
	r.tagsRequest = &tagsRequest
	return r
}

func (r ApiCreatePaasDatabaseTagsRequest) Execute() (*TagsResponse, *http.Response, error) {
	return r.ApiService.CreatePaasDatabaseTagsExecute(r)
}

/*
CreatePaasDatabaseTags Create tags for a PaaS Database.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiCreatePaasDatabaseTagsRequest
*/
func (a *PaaSDatabasesAPIService) CreatePaasDatabaseTags(ctx context.Context, paaSDatabaseId string) ApiCreatePaasDatabaseTagsRequest {
	return ApiCreatePaasDatabaseTagsRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return TagsResponse
func (a *PaaSDatabasesAPIService) CreatePaasDatabaseTagsExecute(r ApiCreatePaasDatabaseTagsRequest) (*TagsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TagsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.CreatePaasDatabaseTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/tags"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}
	if r.tagsRequest == nil {
		return localVarReturnValue, nil, reportError("tagsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tagsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePaasDatabaseRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
	deletePaaSDatabaseParameters *DeletePaaSDatabaseParameters
}

// The parameters to delete a PaaS Database.
func (r ApiDeletePaasDatabaseRequest) DeletePaaSDatabaseParameters(deletePaaSDatabaseParameters DeletePaaSDatabaseParameters) ApiDeletePaasDatabaseRequest {
	r.deletePaaSDatabaseParameters = &deletePaaSDatabaseParameters
	return r
}

func (r ApiDeletePaasDatabaseRequest) Execute() (*DeletePaaSDatabasesResponse, *http.Response, error) {
	return r.ApiService.DeletePaasDatabaseExecute(r)
}

/*
DeletePaasDatabase Delete a PaaS Database

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiDeletePaasDatabaseRequest
*/
func (a *PaaSDatabasesAPIService) DeletePaasDatabase(ctx context.Context, paaSDatabaseId string) ApiDeletePaasDatabaseRequest {
	return ApiDeletePaasDatabaseRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return DeletePaaSDatabasesResponse
func (a *PaaSDatabasesAPIService) DeletePaasDatabaseExecute(r ApiDeletePaasDatabaseRequest) (*DeletePaaSDatabasesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeletePaaSDatabasesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.DeletePaasDatabase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deletePaaSDatabaseParameters
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePaasDatabaseTagsRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
	deleteTag *DeleteTag
}

// The parameters to delete tags
func (r ApiDeletePaasDatabaseTagsRequest) DeleteTag(deleteTag DeleteTag) ApiDeletePaasDatabaseTagsRequest {
	r.deleteTag = &deleteTag
	return r
}

func (r ApiDeletePaasDatabaseTagsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePaasDatabaseTagsExecute(r)
}

/*
DeletePaasDatabaseTags Delete tags for a PaaS Database.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiDeletePaasDatabaseTagsRequest
*/
func (a *PaaSDatabasesAPIService) DeletePaasDatabaseTags(ctx context.Context, paaSDatabaseId string) ApiDeletePaasDatabaseTagsRequest {
	return ApiDeletePaasDatabaseTagsRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
func (a *PaaSDatabasesAPIService) DeletePaasDatabaseTagsExecute(r ApiDeletePaasDatabaseTagsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.DeletePaasDatabaseTags")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/tags/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return nil, reportError("paaSDatabaseId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deleteTag
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeprovisionPaasDatabaseRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
}

func (r ApiDeprovisionPaasDatabaseRequest) Execute() (*DeprovisionPaaSDatabasesResponse, *http.Response, error) {
	return r.ApiService.DeprovisionPaasDatabaseExecute(r)
}

/*
DeprovisionPaasDatabase De-provision a PaaS Database, meaning that the database object will remain in DCT, along with its permissions, tags, snapshots, ... but the database will no longer be running. If the current database data must be preserved, take a snapshot before de-provisioning.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiDeprovisionPaasDatabaseRequest
*/
func (a *PaaSDatabasesAPIService) DeprovisionPaasDatabase(ctx context.Context, paaSDatabaseId string) ApiDeprovisionPaasDatabaseRequest {
	return ApiDeprovisionPaasDatabaseRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return DeprovisionPaaSDatabasesResponse
func (a *PaaSDatabasesAPIService) DeprovisionPaasDatabaseExecute(r ApiDeprovisionPaasDatabaseRequest) (*DeprovisionPaaSDatabasesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeprovisionPaaSDatabasesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.DeprovisionPaasDatabase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/de-provision"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExecutePaasDatabaseComplianceJobRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
}

func (r ApiExecutePaasDatabaseComplianceJobRequest) Execute() (*ExecutePaaSDatabaseComplianceJobResponse, *http.Response, error) {
	return r.ApiService.ExecutePaasDatabaseComplianceJobExecute(r)
}

/*
ExecutePaasDatabaseComplianceJob Execute the compliance job for a PaaS Database

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiExecutePaasDatabaseComplianceJobRequest
*/
func (a *PaaSDatabasesAPIService) ExecutePaasDatabaseComplianceJob(ctx context.Context, paaSDatabaseId string) ApiExecutePaasDatabaseComplianceJobRequest {
	return ApiExecutePaasDatabaseComplianceJobRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return ExecutePaaSDatabaseComplianceJobResponse
func (a *PaaSDatabasesAPIService) ExecutePaasDatabaseComplianceJobExecute(r ApiExecutePaasDatabaseComplianceJobRequest) (*ExecutePaaSDatabaseComplianceJobResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExecutePaaSDatabaseComplianceJobResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.ExecutePaasDatabaseComplianceJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/execute-compliance-job"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPaasDatabaseTagsRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
}

func (r ApiGetPaasDatabaseTagsRequest) Execute() (*TagsResponse, *http.Response, error) {
	return r.ApiService.GetPaasDatabaseTagsExecute(r)
}

/*
GetPaasDatabaseTags Get tags for a PaaS Database.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiGetPaasDatabaseTagsRequest
*/
func (a *PaaSDatabasesAPIService) GetPaasDatabaseTags(ctx context.Context, paaSDatabaseId string) ApiGetPaasDatabaseTagsRequest {
	return ApiGetPaasDatabaseTagsRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return TagsResponse
func (a *PaaSDatabasesAPIService) GetPaasDatabaseTagsExecute(r ApiGetPaasDatabaseTagsRequest) (*TagsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TagsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.GetPaasDatabaseTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/tags"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPaasDatabasesRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	limit *int32
	cursor *string
	sort *string
}

// Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 100.
func (r ApiGetPaasDatabasesRequest) Limit(limit int32) ApiGetPaasDatabasesRequest {
	r.limit = &limit
	return r
}

// Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints.
func (r ApiGetPaasDatabasesRequest) Cursor(cursor string) ApiGetPaasDatabasesRequest {
	r.cursor = &cursor
	return r
}

// The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. 
func (r ApiGetPaasDatabasesRequest) Sort(sort string) ApiGetPaasDatabasesRequest {
	r.sort = &sort
	return r
}

func (r ApiGetPaasDatabasesRequest) Execute() (*ListPaaSDatabasesResponse, *http.Response, error) {
	return r.ApiService.GetPaasDatabasesExecute(r)
}

/*
GetPaasDatabases List all PaaS Databases.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetPaasDatabasesRequest
*/
func (a *PaaSDatabasesAPIService) GetPaasDatabases(ctx context.Context) ApiGetPaasDatabasesRequest {
	return ApiGetPaasDatabasesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListPaaSDatabasesResponse
func (a *PaaSDatabasesAPIService) GetPaasDatabasesExecute(r ApiGetPaasDatabasesRequest) (*ListPaaSDatabasesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListPaaSDatabasesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.GetPaasDatabases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProvisionPaasDatabaseRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	provisionPaaSDatabaseParameters *ProvisionPaaSDatabaseParameters
}

// The parameters to provision a PaaS Database.
func (r ApiProvisionPaasDatabaseRequest) ProvisionPaaSDatabaseParameters(provisionPaaSDatabaseParameters ProvisionPaaSDatabaseParameters) ApiProvisionPaasDatabaseRequest {
	r.provisionPaaSDatabaseParameters = &provisionPaaSDatabaseParameters
	return r
}

func (r ApiProvisionPaasDatabaseRequest) Execute() (*ProvisionPaaSDatabaseResponse, *http.Response, error) {
	return r.ApiService.ProvisionPaasDatabaseExecute(r)
}

/*
ProvisionPaasDatabase Provision a new PaaS Database

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProvisionPaasDatabaseRequest
*/
func (a *PaaSDatabasesAPIService) ProvisionPaasDatabase(ctx context.Context) ApiProvisionPaasDatabaseRequest {
	return ApiProvisionPaasDatabaseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ProvisionPaaSDatabaseResponse
func (a *PaaSDatabasesAPIService) ProvisionPaasDatabaseExecute(r ApiProvisionPaasDatabaseRequest) (*ProvisionPaaSDatabaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProvisionPaaSDatabaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.ProvisionPaasDatabase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.provisionPaaSDatabaseParameters == nil {
		return localVarReturnValue, nil, reportError("provisionPaaSDatabaseParameters is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.provisionPaaSDatabaseParameters
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRefreshPaasDatabaseRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
	refreshPaaSDatabaseParameters *RefreshPaaSDatabaseParameters
}

// The parameters to refresh a PaaS Database.
func (r ApiRefreshPaasDatabaseRequest) RefreshPaaSDatabaseParameters(refreshPaaSDatabaseParameters RefreshPaaSDatabaseParameters) ApiRefreshPaasDatabaseRequest {
	r.refreshPaaSDatabaseParameters = &refreshPaaSDatabaseParameters
	return r
}

func (r ApiRefreshPaasDatabaseRequest) Execute() (*RefreshPaaSDatabasesResponse, *http.Response, error) {
	return r.ApiService.RefreshPaasDatabaseExecute(r)
}

/*
RefreshPaasDatabase Refresh a PaaS Database

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiRefreshPaasDatabaseRequest
*/
func (a *PaaSDatabasesAPIService) RefreshPaasDatabase(ctx context.Context, paaSDatabaseId string) ApiRefreshPaasDatabaseRequest {
	return ApiRefreshPaasDatabaseRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return RefreshPaaSDatabasesResponse
func (a *PaaSDatabasesAPIService) RefreshPaasDatabaseExecute(r ApiRefreshPaasDatabaseRequest) (*RefreshPaaSDatabasesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RefreshPaaSDatabasesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.RefreshPaasDatabase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/refresh"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}
	if r.refreshPaaSDatabaseParameters == nil {
		return localVarReturnValue, nil, reportError("refreshPaaSDatabaseParameters is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.refreshPaaSDatabaseParameters
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReprovisionPaasDatabaseRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	paaSDatabaseId string
	reProvisionPaaSDatabaseParameters *ReProvisionPaaSDatabaseParameters
}

// The parameters to re-provision a PaaS Database.
func (r ApiReprovisionPaasDatabaseRequest) ReProvisionPaaSDatabaseParameters(reProvisionPaaSDatabaseParameters ReProvisionPaaSDatabaseParameters) ApiReprovisionPaasDatabaseRequest {
	r.reProvisionPaaSDatabaseParameters = &reProvisionPaaSDatabaseParameters
	return r
}

func (r ApiReprovisionPaasDatabaseRequest) Execute() (*ReprovisionPaaSDatabaseResponse, *http.Response, error) {
	return r.ApiService.ReprovisionPaasDatabaseExecute(r)
}

/*
ReprovisionPaasDatabase Re-provision a PaaS Database which has previously been de-provisioned. The provision parameters specified at provisioning time will be respected, with the exception of the timestamp or snapshot id to re-provision from.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiReprovisionPaasDatabaseRequest
*/
func (a *PaaSDatabasesAPIService) ReprovisionPaasDatabase(ctx context.Context, paaSDatabaseId string) ApiReprovisionPaasDatabaseRequest {
	return ApiReprovisionPaasDatabaseRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return ReprovisionPaaSDatabaseResponse
func (a *PaaSDatabasesAPIService) ReprovisionPaasDatabaseExecute(r ApiReprovisionPaasDatabaseRequest) (*ReprovisionPaaSDatabaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReprovisionPaaSDatabaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.ReprovisionPaasDatabase")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/re-provision"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}
	if r.reProvisionPaaSDatabaseParameters == nil {
		return localVarReturnValue, nil, reportError("reProvisionPaaSDatabaseParameters is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.reProvisionPaaSDatabaseParameters
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchPaasDatabasesRequest struct {
	ctx context.Context
	ApiService *PaaSDatabasesAPIService
	limit *int32
	cursor *string
	sort *string
	searchBody *SearchBody
}

// Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 100.
func (r ApiSearchPaasDatabasesRequest) Limit(limit int32) ApiSearchPaasDatabasesRequest {
	r.limit = &limit
	return r
}

// Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints.
func (r ApiSearchPaasDatabasesRequest) Cursor(cursor string) ApiSearchPaasDatabasesRequest {
	r.cursor = &cursor
	return r
}

// The field to sort results by. A property name with a prepended &#39;-&#39; signifies descending order. 
func (r ApiSearchPaasDatabasesRequest) Sort(sort string) ApiSearchPaasDatabasesRequest {
	r.sort = &sort
	return r
}

// A request body containing a filter expression. This enables searching for items matching arbitrarily complex conditions. The list of attributes which can be used in filter expressions is available in the x-filterable vendor extension.  # Filter Expression Overview **Note: All keywords are case-insensitive**  ## Comparison Operators | Operator | Description | Example | | --- | --- | --- | | CONTAINS | Substring or membership testing for string and list attributes respectively. | field3 CONTAINS &#39;foobar&#39;, field4 CONTAINS TRUE  | | IN | Tests if field is a member of a list literal. List can contain a maximum of 100 values | field2 IN [&#39;Goku&#39;, &#39;Vegeta&#39;] | | GE | Tests if a field is greater than or equal to a literal value | field1 GE 1.2e-2 | | GT | Tests if a field is greater than a literal value | field1 GT 1.2e-2 | | LE | Tests if a field is less than or equal to a literal value | field1 LE 9000 | | LT | Tests if a field is less than a literal value | field1 LT 9.02 | | NE | Tests if a field is not equal to a literal value | field1 NE 42 | | EQ | Tests if a field is equal to a literal value | field1 EQ 42 |  ## Search Operator The SEARCH operator filters for items which have any filterable attribute that contains the input string as a substring, comparison is done case-insensitively. This is not restricted to attributes with string values. Specifically &#x60;SEARCH &#39;12&#39;&#x60; would match an item with an attribute with an integer value of &#x60;123&#x60;.  ## Logical Operators Ordered by precedence. | Operator | Description | Example | | --- | --- | --- | | NOT | Logical NOT (Right associative) | NOT field1 LE 9000 | | AND | Logical AND (Left Associative) | field1 GT 9000 AND field2 EQ &#39;Goku&#39; | | OR | Logical OR (Left Associative) | field1 GT 9000 OR field2 EQ &#39;Goku&#39; |  ## Grouping Parenthesis &#x60;()&#x60; can be used to override operator precedence.  For example: NOT (field1 LT 1234 AND field2 CONTAINS &#39;foo&#39;)  ## Literal Values | Literal      | Description | Examples | | --- | --- | --- | | Nil | Represents the absence of a value | nil, Nil, nIl, NIL | | Boolean | true/false boolean | true, false, True, False, TRUE, FALSE | | Number | Signed integer and floating point numbers. Also supports scientific notation. | 0, 1, -1, 1.2, 0.35, 1.2e-2, -1.2e+2 | | String | Single or double quoted | \&quot;foo\&quot;, \&quot;bar\&quot;, \&quot;foo bar\&quot;, &#39;foo&#39;, &#39;bar&#39;, &#39;foo bar&#39; | | Datetime | Formatted according to [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339) | 2018-04-27T18:39:26.397237+00:00 | | List | Comma-separated literals wrapped in square brackets | [0], [0, 1], [&#39;foo&#39;, \&quot;bar\&quot;] |  ## Limitations - A maximum of 8 unique identifiers may be used inside a filter expression. 
func (r ApiSearchPaasDatabasesRequest) SearchBody(searchBody SearchBody) ApiSearchPaasDatabasesRequest {
	r.searchBody = &searchBody
	return r
}

func (r ApiSearchPaasDatabasesRequest) Execute() (*SearchPaaSDatabasesResponse, *http.Response, error) {
	return r.ApiService.SearchPaasDatabasesExecute(r)
}

/*
SearchPaasDatabases Search for PaaS Databases.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchPaasDatabasesRequest
*/
func (a *PaaSDatabasesAPIService) SearchPaasDatabases(ctx context.Context) ApiSearchPaasDatabasesRequest {
	return ApiSearchPaasDatabasesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchPaaSDatabasesResponse
func (a *PaaSDatabasesAPIService) SearchPaasDatabasesExecute(r ApiSearchPaasDatabasesRequest) (*SearchPaaSDatabasesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchPaaSDatabasesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSDatabasesAPIService.SearchPaasDatabases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
