/*
Delphix DCT API

Delphix DCT API

API version: 3.25.0
Contact: support@delphix.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package delphix_dct_api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PaaSSnapshotsAPIService PaaSSnapshotsAPI service
type PaaSSnapshotsAPIService service

type ApiCreatePaasDatabaseSnapshotRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	paaSDatabaseId string
	paaSDatabaseSnapshotRequest *PaaSDatabaseSnapshotRequest
}

func (r ApiCreatePaasDatabaseSnapshotRequest) PaaSDatabaseSnapshotRequest(paaSDatabaseSnapshotRequest PaaSDatabaseSnapshotRequest) ApiCreatePaasDatabaseSnapshotRequest {
	r.paaSDatabaseSnapshotRequest = &paaSDatabaseSnapshotRequest
	return r
}

func (r ApiCreatePaasDatabaseSnapshotRequest) Execute() (*CreatePaaSDatabasesSnapshotResponse, *http.Response, error) {
	return r.ApiService.CreatePaasDatabaseSnapshotExecute(r)
}

/*
CreatePaasDatabaseSnapshot Create a snapshot of a PaaS Database

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSDatabaseId The ID of the PaaS Database.
 @return ApiCreatePaasDatabaseSnapshotRequest
*/
func (a *PaaSSnapshotsAPIService) CreatePaasDatabaseSnapshot(ctx context.Context, paaSDatabaseId string) ApiCreatePaasDatabaseSnapshotRequest {
	return ApiCreatePaasDatabaseSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		paaSDatabaseId: paaSDatabaseId,
	}
}

// Execute executes the request
//  @return CreatePaaSDatabasesSnapshotResponse
func (a *PaaSSnapshotsAPIService) CreatePaasDatabaseSnapshotExecute(r ApiCreatePaasDatabaseSnapshotRequest) (*CreatePaaSDatabasesSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePaaSDatabasesSnapshotResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.CreatePaasDatabaseSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/{paaSDatabaseId}/snapshots"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSDatabaseId"+"}", url.PathEscape(parameterValueToString(r.paaSDatabaseId, "paaSDatabaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSDatabaseId) < 1 {
		return localVarReturnValue, nil, reportError("paaSDatabaseId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.paaSDatabaseSnapshotRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreatePaasDatabaseSnapshotTagsRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	paaSSnapshotId string
	tagsRequest *TagsRequest
}

// Tags information for PaaS Database snapshot.
func (r ApiCreatePaasDatabaseSnapshotTagsRequest) TagsRequest(tagsRequest TagsRequest) ApiCreatePaasDatabaseSnapshotTagsRequest {
	r.tagsRequest = &tagsRequest
	return r
}

func (r ApiCreatePaasDatabaseSnapshotTagsRequest) Execute() (*TagsResponse, *http.Response, error) {
	return r.ApiService.CreatePaasDatabaseSnapshotTagsExecute(r)
}

/*
CreatePaasDatabaseSnapshotTags Create tags for a PaaS Database snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSSnapshotId The ID of the PaaS Database snapshot.
 @return ApiCreatePaasDatabaseSnapshotTagsRequest
*/
func (a *PaaSSnapshotsAPIService) CreatePaasDatabaseSnapshotTags(ctx context.Context, paaSSnapshotId string) ApiCreatePaasDatabaseSnapshotTagsRequest {
	return ApiCreatePaasDatabaseSnapshotTagsRequest{
		ApiService: a,
		ctx: ctx,
		paaSSnapshotId: paaSSnapshotId,
	}
}

// Execute executes the request
//  @return TagsResponse
func (a *PaaSSnapshotsAPIService) CreatePaasDatabaseSnapshotTagsExecute(r ApiCreatePaasDatabaseSnapshotTagsRequest) (*TagsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TagsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.CreatePaasDatabaseSnapshotTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots/{paaSSnapshotId}/tags"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSSnapshotId"+"}", url.PathEscape(parameterValueToString(r.paaSSnapshotId, "paaSSnapshotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSSnapshotId) < 1 {
		return localVarReturnValue, nil, reportError("paaSSnapshotId must have at least 1 elements")
	}
	if r.tagsRequest == nil {
		return localVarReturnValue, nil, reportError("tagsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.tagsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePaasDatabaseSnapshotByIdRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	paaSSnapshotId string
}

func (r ApiDeletePaasDatabaseSnapshotByIdRequest) Execute() (*DeletePaaSDatabasesSnapshotResponse, *http.Response, error) {
	return r.ApiService.DeletePaasDatabaseSnapshotByIdExecute(r)
}

/*
DeletePaasDatabaseSnapshotById Delete PaaS Database snapshot by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSSnapshotId The ID of the PaaS Database snapshot.
 @return ApiDeletePaasDatabaseSnapshotByIdRequest
*/
func (a *PaaSSnapshotsAPIService) DeletePaasDatabaseSnapshotById(ctx context.Context, paaSSnapshotId string) ApiDeletePaasDatabaseSnapshotByIdRequest {
	return ApiDeletePaasDatabaseSnapshotByIdRequest{
		ApiService: a,
		ctx: ctx,
		paaSSnapshotId: paaSSnapshotId,
	}
}

// Execute executes the request
//  @return DeletePaaSDatabasesSnapshotResponse
func (a *PaaSSnapshotsAPIService) DeletePaasDatabaseSnapshotByIdExecute(r ApiDeletePaasDatabaseSnapshotByIdRequest) (*DeletePaaSDatabasesSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeletePaaSDatabasesSnapshotResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.DeletePaasDatabaseSnapshotById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots/{paaSSnapshotId}/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSSnapshotId"+"}", url.PathEscape(parameterValueToString(r.paaSSnapshotId, "paaSSnapshotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSSnapshotId) < 1 {
		return localVarReturnValue, nil, reportError("paaSSnapshotId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePaasDatabaseSnapshotTagsRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	paaSSnapshotId string
	deleteTag *DeleteTag
}

// The parameters to delete tags
func (r ApiDeletePaasDatabaseSnapshotTagsRequest) DeleteTag(deleteTag DeleteTag) ApiDeletePaasDatabaseSnapshotTagsRequest {
	r.deleteTag = &deleteTag
	return r
}

func (r ApiDeletePaasDatabaseSnapshotTagsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePaasDatabaseSnapshotTagsExecute(r)
}

/*
DeletePaasDatabaseSnapshotTags Delete tags for a PaaS Database snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSSnapshotId The ID of the PaaS Database snapshot.
 @return ApiDeletePaasDatabaseSnapshotTagsRequest
*/
func (a *PaaSSnapshotsAPIService) DeletePaasDatabaseSnapshotTags(ctx context.Context, paaSSnapshotId string) ApiDeletePaasDatabaseSnapshotTagsRequest {
	return ApiDeletePaasDatabaseSnapshotTagsRequest{
		ApiService: a,
		ctx: ctx,
		paaSSnapshotId: paaSSnapshotId,
	}
}

// Execute executes the request
func (a *PaaSSnapshotsAPIService) DeletePaasDatabaseSnapshotTagsExecute(r ApiDeletePaasDatabaseSnapshotTagsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.DeletePaasDatabaseSnapshotTags")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots/{paaSSnapshotId}/tags/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSSnapshotId"+"}", url.PathEscape(parameterValueToString(r.paaSSnapshotId, "paaSSnapshotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSSnapshotId) < 1 {
		return nil, reportError("paaSSnapshotId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deleteTag
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAllPaasDatabaseSnapshotsRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	limit *int32
	cursor *string
	sort *string
}

// Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 100.
func (r ApiGetAllPaasDatabaseSnapshotsRequest) Limit(limit int32) ApiGetAllPaasDatabaseSnapshotsRequest {
	r.limit = &limit
	return r
}

// Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints.
func (r ApiGetAllPaasDatabaseSnapshotsRequest) Cursor(cursor string) ApiGetAllPaasDatabaseSnapshotsRequest {
	r.cursor = &cursor
	return r
}

// The field to sort snapshot results by. A field prefixed with &#x60;-&#x60; indicates descending order.
func (r ApiGetAllPaasDatabaseSnapshotsRequest) Sort(sort string) ApiGetAllPaasDatabaseSnapshotsRequest {
	r.sort = &sort
	return r
}

func (r ApiGetAllPaasDatabaseSnapshotsRequest) Execute() (*ListPaaSDatabaseSnapshotResponse, *http.Response, error) {
	return r.ApiService.GetAllPaasDatabaseSnapshotsExecute(r)
}

/*
GetAllPaasDatabaseSnapshots Get all PaaS Database snapshots

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAllPaasDatabaseSnapshotsRequest
*/
func (a *PaaSSnapshotsAPIService) GetAllPaasDatabaseSnapshots(ctx context.Context) ApiGetAllPaasDatabaseSnapshotsRequest {
	return ApiGetAllPaasDatabaseSnapshotsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListPaaSDatabaseSnapshotResponse
func (a *PaaSSnapshotsAPIService) GetAllPaasDatabaseSnapshotsExecute(r ApiGetAllPaasDatabaseSnapshotsRequest) (*ListPaaSDatabaseSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListPaaSDatabaseSnapshotResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.GetAllPaasDatabaseSnapshots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPaasDatabaseSnapshotByIdRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	paaSSnapshotId string
}

func (r ApiGetPaasDatabaseSnapshotByIdRequest) Execute() (*PaaSDatabaseSnapshot, *http.Response, error) {
	return r.ApiService.GetPaasDatabaseSnapshotByIdExecute(r)
}

/*
GetPaasDatabaseSnapshotById Get PaaS Database snapshot by ID

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSSnapshotId The ID of the PaaS Database snapshot.
 @return ApiGetPaasDatabaseSnapshotByIdRequest
*/
func (a *PaaSSnapshotsAPIService) GetPaasDatabaseSnapshotById(ctx context.Context, paaSSnapshotId string) ApiGetPaasDatabaseSnapshotByIdRequest {
	return ApiGetPaasDatabaseSnapshotByIdRequest{
		ApiService: a,
		ctx: ctx,
		paaSSnapshotId: paaSSnapshotId,
	}
}

// Execute executes the request
//  @return PaaSDatabaseSnapshot
func (a *PaaSSnapshotsAPIService) GetPaasDatabaseSnapshotByIdExecute(r ApiGetPaasDatabaseSnapshotByIdRequest) (*PaaSDatabaseSnapshot, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaaSDatabaseSnapshot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.GetPaasDatabaseSnapshotById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots/{paaSSnapshotId}"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSSnapshotId"+"}", url.PathEscape(parameterValueToString(r.paaSSnapshotId, "paaSSnapshotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSSnapshotId) < 1 {
		return localVarReturnValue, nil, reportError("paaSSnapshotId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPaasDatabaseSnapshotTagsRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	paaSSnapshotId string
}

func (r ApiGetPaasDatabaseSnapshotTagsRequest) Execute() (*TagsResponse, *http.Response, error) {
	return r.ApiService.GetPaasDatabaseSnapshotTagsExecute(r)
}

/*
GetPaasDatabaseSnapshotTags Get tags for a PaaS Database snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSSnapshotId The ID of the PaaS Database snapshot.
 @return ApiGetPaasDatabaseSnapshotTagsRequest
*/
func (a *PaaSSnapshotsAPIService) GetPaasDatabaseSnapshotTags(ctx context.Context, paaSSnapshotId string) ApiGetPaasDatabaseSnapshotTagsRequest {
	return ApiGetPaasDatabaseSnapshotTagsRequest{
		ApiService: a,
		ctx: ctx,
		paaSSnapshotId: paaSSnapshotId,
	}
}

// Execute executes the request
//  @return TagsResponse
func (a *PaaSSnapshotsAPIService) GetPaasDatabaseSnapshotTagsExecute(r ApiGetPaasDatabaseSnapshotTagsRequest) (*TagsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TagsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.GetPaasDatabaseSnapshotTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots/{paaSSnapshotId}/tags"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSSnapshotId"+"}", url.PathEscape(parameterValueToString(r.paaSSnapshotId, "paaSSnapshotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSSnapshotId) < 1 {
		return localVarReturnValue, nil, reportError("paaSSnapshotId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchPaasDatabaseSnapshotsRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	limit *int32
	cursor *string
	sort *string
	searchBody *SearchBody
}

// Maximum number of objects to return per query. The value must be between 1 and 1000. Default is 100.
func (r ApiSearchPaasDatabaseSnapshotsRequest) Limit(limit int32) ApiSearchPaasDatabaseSnapshotsRequest {
	r.limit = &limit
	return r
}

// Cursor to fetch the next or previous page of results. The value of this property must be extracted from the &#39;prev_cursor&#39; or &#39;next_cursor&#39; property of a PaginatedResponseMetadata which is contained in the response of list and search API endpoints.
func (r ApiSearchPaasDatabaseSnapshotsRequest) Cursor(cursor string) ApiSearchPaasDatabaseSnapshotsRequest {
	r.cursor = &cursor
	return r
}

// The field to sort snapshot results by. A field prefixed with &#x60;-&#x60; indicates descending order.
func (r ApiSearchPaasDatabaseSnapshotsRequest) Sort(sort string) ApiSearchPaasDatabaseSnapshotsRequest {
	r.sort = &sort
	return r
}

// A request body containing a filter expression. This enables searching for items matching arbitrarily complex conditions. The list of attributes which can be used in filter expressions is available in the x-filterable vendor extension.  # Filter Expression Overview **Note: All keywords are case-insensitive**  ## Comparison Operators | Operator | Description | Example | | --- | --- | --- | | CONTAINS | Substring or membership testing for string and list attributes respectively. | field3 CONTAINS &#39;foobar&#39;, field4 CONTAINS TRUE  | | IN | Tests if field is a member of a list literal. List can contain a maximum of 100 values | field2 IN [&#39;Goku&#39;, &#39;Vegeta&#39;] | | GE | Tests if a field is greater than or equal to a literal value | field1 GE 1.2e-2 | | GT | Tests if a field is greater than a literal value | field1 GT 1.2e-2 | | LE | Tests if a field is less than or equal to a literal value | field1 LE 9000 | | LT | Tests if a field is less than a literal value | field1 LT 9.02 | | NE | Tests if a field is not equal to a literal value | field1 NE 42 | | EQ | Tests if a field is equal to a literal value | field1 EQ 42 |  ## Search Operator The SEARCH operator filters for items which have any filterable attribute that contains the input string as a substring, comparison is done case-insensitively. This is not restricted to attributes with string values. Specifically &#x60;SEARCH &#39;12&#39;&#x60; would match an item with an attribute with an integer value of &#x60;123&#x60;.  ## Logical Operators Ordered by precedence. | Operator | Description | Example | | --- | --- | --- | | NOT | Logical NOT (Right associative) | NOT field1 LE 9000 | | AND | Logical AND (Left Associative) | field1 GT 9000 AND field2 EQ &#39;Goku&#39; | | OR | Logical OR (Left Associative) | field1 GT 9000 OR field2 EQ &#39;Goku&#39; |  ## Grouping Parenthesis &#x60;()&#x60; can be used to override operator precedence.  For example: NOT (field1 LT 1234 AND field2 CONTAINS &#39;foo&#39;)  ## Literal Values | Literal      | Description | Examples | | --- | --- | --- | | Nil | Represents the absence of a value | nil, Nil, nIl, NIL | | Boolean | true/false boolean | true, false, True, False, TRUE, FALSE | | Number | Signed integer and floating point numbers. Also supports scientific notation. | 0, 1, -1, 1.2, 0.35, 1.2e-2, -1.2e+2 | | String | Single or double quoted | \&quot;foo\&quot;, \&quot;bar\&quot;, \&quot;foo bar\&quot;, &#39;foo&#39;, &#39;bar&#39;, &#39;foo bar&#39; | | Datetime | Formatted according to [RFC3339](https://datatracker.ietf.org/doc/html/rfc3339) | 2018-04-27T18:39:26.397237+00:00 | | List | Comma-separated literals wrapped in square brackets | [0], [0, 1], [&#39;foo&#39;, \&quot;bar\&quot;] |  ## Limitations - A maximum of 8 unique identifiers may be used inside a filter expression. 
func (r ApiSearchPaasDatabaseSnapshotsRequest) SearchBody(searchBody SearchBody) ApiSearchPaasDatabaseSnapshotsRequest {
	r.searchBody = &searchBody
	return r
}

func (r ApiSearchPaasDatabaseSnapshotsRequest) Execute() (*SearchPaaSDatabaseSnapshotResponse, *http.Response, error) {
	return r.ApiService.SearchPaasDatabaseSnapshotsExecute(r)
}

/*
SearchPaasDatabaseSnapshots Search PaaS Database snapshots

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchPaasDatabaseSnapshotsRequest
*/
func (a *PaaSSnapshotsAPIService) SearchPaasDatabaseSnapshots(ctx context.Context) ApiSearchPaasDatabaseSnapshotsRequest {
	return ApiSearchPaasDatabaseSnapshotsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchPaaSDatabaseSnapshotResponse
func (a *PaaSSnapshotsAPIService) SearchPaasDatabaseSnapshotsExecute(r ApiSearchPaasDatabaseSnapshotsRequest) (*SearchPaaSDatabaseSnapshotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchPaaSDatabaseSnapshotResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.SearchPaasDatabaseSnapshots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		r.limit = &defaultValue
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSharePaasDatabaseSnapshotRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	paaSSnapshotId string
}

func (r ApiSharePaasDatabaseSnapshotRequest) Execute() (*PaaSDatabaseSnapshot, *http.Response, error) {
	return r.ApiService.SharePaasDatabaseSnapshotExecute(r)
}

/*
SharePaasDatabaseSnapshot share PaaS Database snapshots and make it public

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSSnapshotId The ID of the PaaS Database snapshot.
 @return ApiSharePaasDatabaseSnapshotRequest
*/
func (a *PaaSSnapshotsAPIService) SharePaasDatabaseSnapshot(ctx context.Context, paaSSnapshotId string) ApiSharePaasDatabaseSnapshotRequest {
	return ApiSharePaasDatabaseSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		paaSSnapshotId: paaSSnapshotId,
	}
}

// Execute executes the request
//  @return PaaSDatabaseSnapshot
func (a *PaaSSnapshotsAPIService) SharePaasDatabaseSnapshotExecute(r ApiSharePaasDatabaseSnapshotRequest) (*PaaSDatabaseSnapshot, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaaSDatabaseSnapshot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.SharePaasDatabaseSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots/{paaSSnapshotId}/share"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSSnapshotId"+"}", url.PathEscape(parameterValueToString(r.paaSSnapshotId, "paaSSnapshotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSSnapshotId) < 1 {
		return localVarReturnValue, nil, reportError("paaSSnapshotId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUnsharePaasDatabaseSnapshotRequest struct {
	ctx context.Context
	ApiService *PaaSSnapshotsAPIService
	paaSSnapshotId string
}

func (r ApiUnsharePaasDatabaseSnapshotRequest) Execute() (*PaaSDatabaseSnapshot, *http.Response, error) {
	return r.ApiService.UnsharePaasDatabaseSnapshotExecute(r)
}

/*
UnsharePaasDatabaseSnapshot un-share PaaS Database snapshots and make it public

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param paaSSnapshotId The ID of the PaaS Database snapshot.
 @return ApiUnsharePaasDatabaseSnapshotRequest
*/
func (a *PaaSSnapshotsAPIService) UnsharePaasDatabaseSnapshot(ctx context.Context, paaSSnapshotId string) ApiUnsharePaasDatabaseSnapshotRequest {
	return ApiUnsharePaasDatabaseSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		paaSSnapshotId: paaSSnapshotId,
	}
}

// Execute executes the request
//  @return PaaSDatabaseSnapshot
func (a *PaaSSnapshotsAPIService) UnsharePaasDatabaseSnapshotExecute(r ApiUnsharePaasDatabaseSnapshotRequest) (*PaaSDatabaseSnapshot, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaaSDatabaseSnapshot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PaaSSnapshotsAPIService.UnsharePaasDatabaseSnapshot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/paas-databases/snapshots/{paaSSnapshotId}/unshare"
	localVarPath = strings.Replace(localVarPath, "{"+"paaSSnapshotId"+"}", url.PathEscape(parameterValueToString(r.paaSSnapshotId, "paaSSnapshotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.paaSSnapshotId) < 1 {
		return localVarReturnValue, nil, reportError("paaSSnapshotId must have at least 1 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
